.hiddenn {
 opacity: 0;
 transition: all 1s;
 transform: translateY(90%);
}

.show {
    transform: translateY(0%);
    opacity: 1;
}

.overlayBox .hiddenn {
    opacity: 0;
    transition: all 2s;
    transform: translateY(-90%);
}